body {

    .medidas {
        width: 100%;
        font-size: 15px;
        background-color: #eeeeee;;
        border-radius: 50px;
        box-shadow: 12px -20px 46px -26px rgba(33,33,33,0.66);
    -webkit-box-shadow: 12px -20px 46px -26px rgba(33,33,33,0.66);
    -moz-box-shadow: 12px -20px 46px -26px rgba(33,33,33,0.66);
    }
    
    .grid_medidas {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 100px 50px;

    }

    .boton_medidas {
        display: grid;
        grid-template-columns: 1/2;
        grid-row: 3;
    }

    .titulo_medidas {
        color: #484c54;
        font-family: 'Project Sans';
        font-weight: 700;
        font-size: 20px;
        margin: 0px;
    }

    .grid_medidas02 {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
       
    }

    .flex_medidas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    @media only screen and (max-width: 780px) {

        .medidas{
            width: 700px;
            height: 400vh;
            font-size: 15px;
            background-color: #eeeeee;;
            border-radius: 50px;
            box-shadow: 12px -20px 46px -26px rgba(33,33,33,0.66);
        -webkit-box-shadow: 12px -20px 46px -26px rgba(33,33,33,0.66);
        -moz-box-shadow: 12px -20px 46px -26px rgba(33,33,33,0.66);
        }

        .medidas {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1200px 100px 50px;
    
        }


        

     }   





}